html {
    scroll-behavior: smooth;
}

body {
    /* background:#F5F5F5; */
    width: 100%;
    font-weight: 400;
    font-family: 'Manrope';
    letter-spacing: -0.03em;
}

h1, h2, h3 {
    text-align: left;
    color: #121212; 
}

p, div, a, h1, h2, h3 {

    letter-spacing: -0.03em;
}

/*КОНТЕЙНЕР*/ 

.container {

    margin: 0 auto;
    width: 1400px;
    background-color: #ffffff;
    padding-left: 125px;
    padding-right: 125px;
}

.container-black {

    margin: 0 auto;
    width: 1400px;
    background-color: #121212;
    padding-left: 125px;
    padding-right: 125px;
}

/*СЕКЦИИ*/ 

.logo-section .container {

    padding-top: 33px;
}

.main-section .container{

    padding-top: 70px;
}

.description-section .container{

    padding-top: 150px;
}

.project-section .container {

    padding-top: 150px;
    padding-bottom: 150px; 
}

.service-section {

    padding-top: 151px;
    padding-bottom: 150px; 
    background-color: #121212;
}

.fullscreen-section {
    
    position: relative;
    height: 717px;
    background-image: url('../resources/full_screen_image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    
}

.contacts-section .container {

    padding-top: 151px;
}

.footer-section {
    
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #121212;
}

/*СЕКЦИЯ 1*/ 

h1 {
    /*рамка*/
    width: 956px;
    /*параметры текста*/
    font-style: normal;
    font-size: 60px;
    line-height: 60px;
}

.banner-main {
/*расположение картинки*/ 
    position: relative; 
    margin-top: 30px;
/*рамка картинки*/
    width: 1150px;
    height: 500px;
/*параметры картинки*/
    background-image: url('../resources/Main\ banner.png');
    background-size: contain;
    background-repeat: no-repeat;
}

p.banner-main-text {
/*расположение текста*/
    position: absolute;
    top: 379px;
    left: 40px;
/*рамка*/
    width: 430px;
/*параметры текста*/
    font-size: 20px;
    line-height: 27px;
    text-align: left;
    color:#ffffff;
}

/*СЕКЦИЯ 2*/ 

h2 {
    /*параметры текста*/
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
}

p.description-main {
/*расположение*/
    margin-top: 30px;
    padding-left: 3px;
/*рамка*/
    width: 1048px;
    height: 366px;
/*параметры текста*/
    font-size: 45px;
    line-height: 61px;
    text-align: left;
    color: #121212;
}

a.description-link {
/*расположение*/
    margin-top: 30px;
/*расположение текста*/
    padding-top: 20px;
/*параметры ссылки*/
    display: block; /*блочный элемент*/
    width: 255px;
    height: 67px;
    border: 1px solid #AD1818;
    background-color: #AD1818;
    border-radius: 5px; /*закругление*/
/*параметры текста на ссылке*/
    font-size: 20px;
    line-height: 27px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
}

a.description-link:hover {
    /*наведение на элемент*/
    color:  #AD1818;
    background-color: #ffffff;
}

/*СЕКЦИЯ 3*/ 
/*часть 2 - блоки*/

.project-list {
/*отступ сета блоков сверху*/
    margin-top: 30px;
}

.project-list .project {
/*отступ сета между блоками*/
    margin-top: 132px;
}

.project-list :first-child{

    margin-top: 0;
}

.project__image {
    margin-bottom: 15px;
/*рамка*/
    display: block;
    width: 1150px;
}

.project__title {
    margin-bottom: 15px;
/*рамка*/
    width: 542px;
/*параметры текста*/
    font-style: normal;
    font-size: 30px;
    line-height: 41px;
    text-align: left;
    color: #121212;
}

.project__link {
/*рамка*/
    width: 127px;
    height: 27px;
/*параметры текста*/
    font-style: normal;
    font-size: 20px;
    line-height: 27px;
    position: absolute;
    text-align: left;
    color: #AD1818;
    text-decoration: none;
}

a.projectfullbutton {
    margin-top: 132px;
    padding-top: 56px;
/*параметры ссылки*/
    display: block;
    width: 100%;
    height: 153px;
    border: 1px solid #AD1818;
    border-radius: 5px;
/*параметры текста*/
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #AD1818;
    cursor: pointer;
}

a.projectfullbutton:hover {
    /*наведение на элемент*/
    color:  #ffffff;
    background-color: #AD1818;
}

/*СЕКЦИЯ 4*/ 
/*часть 3 - блоки на черном фоне*/
.services {

    margin-top: 34px;
}

.services .service {

    margin-top: 56px;
}

.services :first-child {

    margin-top: 0;
}

.service__img {

    margin-bottom: 15px;
}

.service__title {
    padding-left: 3px;
    color: #ffffff;
    font-style: normal;
    font-size: 30px;
    line-height: 41px;
}

.service-section h2 {
    
    color: #ffffff;
}

/*СЕКЦИЯ 5*/ 
/*ШАПКА САЙТА*/

.logo-img {

    padding-top: -0.18px;
}

.header__navigation-name {

    float: right;  
}

a.header__link {
    
    margin-left: 58px;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    text-decoration: none;
    color: #121212;
}

a.header__link:hover {

    opacity: 0.5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

/*СЕКЦИЯ 6*/ 
/*ПОЛНОЭКРАННОЕ ИЗОБРАЖЕНИЕ*/

p.fullscreen-text {
/*расположение текста*/
    position: absolute;
    top: 575px;
    left: 125px;
/*рамка*/
    width: 443px;
/*параметры текста*/
    font-size: 30px;
    line-height: 41px;
    text-align: left;
    color:#ffffff;
}

/*СЕКЦИЯ 7*/ 
/*ПСЕВДОЭЛЕМЕНТЫ*/

h2.contacts-title {
    
    width: 90px;
    height: 25px;
    font-size: 18px;
    line-height: 24.59px;
    text-transform: uppercase;
    text-align: left;
}

.contacts-title:before {

    margin-bottom: 14px;
    margin-left: 1px;
    content:'';
    display: block;
    width: 13px;
    height: 22px;
    background-image: url('../resources/Contacts-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

p.contacts-phone {

    margin-top: 70px;
}
p.contacts-email {

    margin-top: 32px;
    padding-bottom: 150px;
}

a.contact-email,
a.contact-phone {

    font-size: 60px;
    line-height: 60px;
    text-decoration: none;
    color: #121212;
}

a.contact-phone:hover {

    opacity: 0.5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

a.contact-email:hover {

    opacity: 0.5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

/*СЕКЦИЯ 8*/ 
/*ФУТЕР*/

p.footer-studioname {
    
    margin-top: 87px;
    text-align: center;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
    opacity: 0.5;

}

.footer__navigation-name {

    width: 450px;
    padding-top: 8px;
    margin: auto;
}

a.footer__link {
    
    margin-left: 50px;
    font-size: 18px;
    line-height: 24.59px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

a.footer__link:first-child {

    margin: 0;
}

a.footer__link:hover {

    opacity: 0.5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}